@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            @if (_exists)
            {
                <a @onclick="LogOut" class="btn-link">Выход</a>
            }
            else
            {
                <NavLink href="login">Вход</NavLink>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>